<template>
  <div class="custom-select-outer">
    <label for="custom-select" class="custom-select-label">{{
      props.label
    }}</label>
    <select
      ref="customSelect"
      id="custom-select"
      class="custom-select"
      @input="onInput($event.target.value)"
    >
      <option></option>
      <option v-for="option in options" :key="option.id" :value="option.id">
        {{ option.title }}
      </option>
    </select>
  </div>
</template>

<script setup lang="ts">
import { InputValue } from "@/components/customSelect/types";
import { ref } from "vue";

const props = defineProps<{
  modelValue: InputValue;
  label: string;
  options: [];
}>();
const emit = defineEmits<{
  (event: "update:modelValue", value: InputValue): void;
}>();

const onInput = (value: InputValue) => {
  return emit("update:modelValue", value);
};

const customSelect = ref<HTMLInputElement | null>(null);
const focus = () => {
  if (customSelect.value) {
    customSelect.value.focus();
  }
};
defineExpose({
  focus,
});
</script>

<style scoped lang="scss">
.custom-select-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.custom-select {
  height: 62px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;
}

.custom-select-label {
  margin-bottom: 2px;
  color: gray;
}
</style>
