<template>
  <div class="credit-card">
    <div class="credit-card__brand">
      <img
        v-if="getCardCompanyImgUrl"
        :src="getCardCompanyImgUrl"
        alt="credit card"
      />
      <span v-else>?</span>
    </div>
    <div class="credit-card__number">{{ formData.number }}</div>
    <div class="credit-card__date">
      Срок действия: {{ formData.month }}
      {{ dateSeparator }}
      {{ formData.year }}
    </div>
    <div class="credit-card__footer">
      <span> {{ formData.fio }} </span>
      <span> Код: {{ formData.securityCode }} </span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { PaymentFormData } from "@/pages/payment/types";
import useCardCompanyValidator from "@/pages/payment/CreditCard/useCardCompanyImgUrl";

const props = defineProps<{
  formData: PaymentFormData;
}>();

const { getCardCompanyImgUrl } = useCardCompanyValidator(props.formData);
const dateSeparator = computed(
  () => `${!!props.formData.month && !!props.formData.year ? "/" : ""}`
);
</script>

<style scoped lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

.credit-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  margin-top: 20px;
  padding: 20px;
  font-family: "Play", sans-serif;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(to right, #434343, #000000);
  border-radius: 12px;
  &__brand {
    height: 65px;
  }
  &__number {
    min-height: 35px;
    margin-top: 30px;
    font-size: 28px;
    align-self: center;
  }
  &__date {
    margin-top: 30px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}
</style>
