<template>
  <div>
    <h1>Корзина</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Кол-во</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.uuid">
          <td>{{ product.name }}</td>
          <td>{{ product.count }} шт.</td>
          <td>{{ product.price }} ₽</td>
        </tr>
      </tbody>
    </table>

    <div class="payment-block">
      <span
        >Итого к оплате: <b>{{ totalSum }} ₽</b></span
      >
      <button class="payment-block__button" @click="goToPaymentPage">
        Оплатить
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import useCartContent from "@/pages/cart/useCartContent";
import useGoToPaymentPage from "@/pages/cart/goToPaymentPage";

const { products, totalSum } = useCartContent();

const { goToPaymentPage } = useGoToPaymentPage();
</script>

<style scoped lang="scss">
.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #4484d8;
    font-size: 14px;
    color: #fff;
  }
  thead tr th:first-child {
    border-radius: 8px 0 0 8px;
  }
  thead tr th:last-child {
    border-radius: 0 8px 8px 0;
  }
  tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
  }
  tbody tr:nth-child(even) {
    background: #f3f3f3;
  }
  tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
  }
  tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
  }
}

.payment-block {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  &__button {
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: #419444;
    }
  }
}
</style>
