<template>
  <div>
    <h1>Страница оплаты</h1>
    <div class="total-sum">
      К оплате: <b>{{ totalSum }} ₽</b>
    </div>
    <div class="payment-page">
      <div class="payment-form">
        <div class="payment-form__row">
          <CustomInput
            v-model="formData.number"
            :validation-type="ValidationTypeValue.CARD"
            label="Номер карты"
            @keyup.enter="focusToComponent('month')"
          />
        </div>
        <div class="payment-form__row">
          <CustomSelect
            ref="inputMonthComponent"
            v-model="formData.month"
            :options="monthOptions"
            label="Месяц"
            @change="focusToComponent('year')"
          />
          <CustomSelect
            ref="inputYearComponent"
            v-model="formData.year"
            :options="yearsOptions"
            label="Год"
            @change="focusToComponent('securityCode')"
          />
          <CustomInput
            ref="inputSecurityCodeComponent"
            v-model="formData.securityCode"
            :validation-type="ValidationTypeValue.SECURITY_CODE"
            label="Секретный код"
            @keyup.enter="focusToComponent('fio')"
          />
        </div>
        <div class="payment-form__row">
          <CustomInput
            ref="inputFioComponent"
            v-model="formData.fio"
            label="ФИО"
          />
        </div>
        <div class="payment-form__footer">
          <button
            v-if="!isPaymentSuccessful"
            class="payment-submit-button"
            @click="sendPayment"
            :disabled="!isValidForm"
          >
            Оплатить
          </button>
          <span v-else class="payment-success-text">
            Платёж успешно совершён!
          </span>
        </div>
      </div>
      <CreditCart :form-data="formData" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from "vue";
import API from "@/api";
import {
  PaymentFormData,
  PaymentFormRefsFieldKey,
} from "@/pages/payment/types";
import useTotalSum from "@/pages/payment/useTotalSum";
import CreditCart from "@/pages/payment/CreditCard/index.vue";
import CustomInput from "@/components/CustomInput/index.vue";
import CustomSelect from "@/components/CustomSelect/index.vue";
import { monthOptions, yearsOptions } from "@/helpers/fakeSelectOptions";
import {
  cardValidator,
  securityCodeValidator,
  ValidationTypeValue,
} from "@/helpers/validations";

const props = defineProps<{
  uuid: string;
}>();

const createComponentRef = () =>
  ref<InstanceType<typeof CustomInput> | null>(null);
const inputFioComponent = createComponentRef();
const inputMonthComponent = createComponentRef();
const inputYearComponent = createComponentRef();
const inputSecurityCodeComponent = createComponentRef();
const formData = ref<PaymentFormData>({
  number: null,
  year: null,
  month: null,
  fio: null,
  securityCode: null,
});
const { totalSum } = useTotalSum(props.uuid);

const refsMap = {
  fio: inputFioComponent,
  month: inputMonthComponent,
  year: inputYearComponent,
  securityCode: inputSecurityCodeComponent,
};

const focusToComponent = (fieldKey: PaymentFormRefsFieldKey) => {
  if (refsMap[fieldKey]) {
    refsMap[fieldKey].value.focus();
  }
};

const isValidForm = computed(() => {
  return (
    formData.value.month &&
    formData.value.year &&
    formData.value.fio &&
    cardValidator(formData.value.number) &&
    securityCodeValidator(formData.value.securityCode)
  );
});

const isPaymentSuccessful = ref(false);

const sendPayment = async () => {
  try {
    await API.payment.sendPayment(formData.value);

    isPaymentSuccessful.value = true;
  } catch (error) {
    console.error(error);
    throw new Error("Payment error");
  }
};
</script>

<style scoped lang="scss">
.total-sum {
  font-size: 18px;
  margin: 40px 0;
}

.payment-page {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__row {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  &__footer {
    align-self: end;
  }
}

.payment-submit-button {
  background-color: #4484d8;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #377cd5;
  }
  &:disabled {
    background-color: #7c7d7f;
    cursor: default;
    pointer-events: none;
  }
}

.payment-success-text {
  color: #46c346;
  font-size: 20px;
}
</style>
