<template>
  <div class="custom-input-outer">
    <label class="custom-input-label" for="custom-input">{{
      props.label
    }}</label>
    <input
      id="custom-input"
      ref="customInput"
      :class="inputClass"
      v-maska="currentValidator && currentValidator.mask"
      @maska="rawValue = $event.target.dataset.maskRawValue"
      @input="onInput($event.target.value)"
      v-on:keyup.enter="$event.target.nextElementSibling.focus()"
    />

    <div v-if="isNeedValidate && !isValid" class="validation-text">
      {{ currentValidator?.message }}
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from "vue";
import { ValidationTypeValue } from "@/helpers/validations";
import useGoToPaymentPage from "@/components/CustomInput/useValidation";
import { InputValue } from "@/components/CustomInput/types";

const props = defineProps<{
  validationType?: ValidationTypeValue;
  label: string;
  modelValue: InputValue;
}>();
const emit = defineEmits<{
  (event: "update:modelValue", value: InputValue): void;
}>();

const rawValue = ref<InputValue>(null);

const { isNeedValidate, currentValidator, isValid } = useGoToPaymentPage(
  rawValue,
  props.validationType
);

const onInput = (value: InputValue) => {
  return emit("update:modelValue", value);
};

const customInput = ref<HTMLInputElement | null>(null);
const focus = () => {
  if (customInput.value) {
    customInput.value?.focus();
  }
};
defineExpose({
  focus,
});

const inputClass = computed(() => {
  const classes = ["custom-input"];

  if (!isNeedValidate.value) {
    return classes;
  }

  if (isValid.value) {
    classes.push("custom-input--is-valid");
  } else {
    classes.push("custom-input--is-not-valid");
  }

  return classes;
});
</script>

<style scoped lang="scss">
.custom-input-outer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.custom-input {
  height: 50px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;

  &--is-valid {
    border: 1px solid #46c346;
  }
  &--is-not-valid {
    border: 1px solid red;
  }
}

.custom-input-label {
  margin-bottom: 2px;
  color: gray;
}

.validation-text {
  position: absolute;
  bottom: -16px;
  font-size: 13px;
  color: red;
  margin-top: 5px;
}
</style>
