<template>
  <div class="main-layout">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "MainLayout",
});
</script>

<style scoped lang="scss">
.main-layout {
  margin: 20px auto;
  max-width: 1080px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%);
  border-radius: 10px;
  padding: 30px;
}
</style>
